<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="9; url=/">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="/js/all.js"></script>
    <title>會員登入系統</title>
</head>
<body onload="reciprocal()">
    <div class="wrap">
        <div class="head">
            <h2>會員登入系統</h2>
        </div>
        <div class="content">
            <div class="sign">
                <h3>登入系統</h3>
                <div class="status">
                    <h4 class="error">你竟敢用我的咒語對付我，波特！！</h4>
                </div>
                <a href="/" class="backhome">
                    <input type="text" id=reciprocal value="5"></input>秒後返回登入頁...
                </a>
            </div>
        </div>
    </div>
    
</body>
</html>