<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>會員登入系統</title>
</head>
<body>
    <div class="wrap">
        <div class="head">
            <h2>會員登入系統</h2>
        </div>
        <div class="content">
            <div class="sign">
                <h3>登入系統</h3>
                <div class="status">
                    <h4 class="success">{{name}}，歡迎登入系統</h4>
                </div>
                <a href="/signout">登出</a>
            </div>
        </div>
    </div>
    
</body>
</html>