<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="/styles/styledIndex.css" />
</head>
<body>
    <header>
        <h1>歡迎光臨，請輸入帳號密碼</h1>
    </header>
    <main>
        <h2>註冊帳號</h2>
        <form action="/signup" method="POST">
            <label for="sp-name">姓名</label>
            <input id="sp-name" type="text" name="name" value="nameTest" /><br/>
            <label for="sp-username">帳號</label>
            <input id="sp-username" type="text" name="username" value="usernameTest" /><br/>
            <label for="sp-password">密碼</label>
            <input id="sp-password" type="password" name="password" value="passwordTest" /><br/>    
            <button type="submit">註冊</button>
        </form>
        <hr/>
        <h2>登入系統</h2>
        <form action="/signin" method="POST">
            <label for="si-username">帳號</label>
            <input id="si-username" type="text" name="username" value="usernameTest" /><br/>
            <label for="si-password">密碼</label>
            <input id="si-password" type="password" name="password" value="passwordTest" /><br/>    
            <button type="submit">登入</button>
        </form>
    </main>
</body>
</html>